* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: #ffffff;
  display: flex;
  justify-content: center;
  padding: 30px;
  color: #222;
}

/* ---------- HEADER ---------- */
.page-container {
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 25px;
}

.logo {
  width: 160px;
}

.header-text h2 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 90px;
}

.header-text p {
  font-size: 13px;
  margin-top: 5px;
  color: #555;
}

/* ---------- FORM ---------- */
.form-container {
  background: #ffffff;
  border-radius: 12px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  gap: 60px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
}

.left-form,
.right-form {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-size: 13px;
  font-weight: 600;
  color: #555;
}

input {
  width: 100%;
  padding: 10px 14px;
  border-radius: 20px;
  border: 1px solid #ddd;
  margin-top: 5px;
  outline: none;
  background-color: white;
  color: #555;
}

input:focus {
  border-color: #00a39b;
}

.error {
  color: #d9534f;
  font-size: 12px;
  margin-bottom: 10px;
}

/* ---------- BUTTONS ---------- */
.buttons {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.save-btn {
  background: teal;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 60%;
}

.back-btn {
  background: #e74c3c;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 60%;
}

.save-btn:hover {
  background: #028a84;
}

.back-btn:hover {
  background: #c0392b;
}

.down_text {
  color: #555;
  font-size: 12px;
  margin-bottom: 10px;
}

.down_text_sub {
  color: teal;
  font-size: 12px;
  margin-bottom: 10px;
  text-decoration: none;
  font-weight: 700;
}